body {
    background-color: black;
    background: linear-gradient(#202094,black);
    background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    color: white;
    font-size: 2em;
    text-align: center;
    
}
a:visited,a  {
    color: aliceblue;
}